<!DOCTYPE html>
<html land="en">
    <head>
    <meta charset="UTF-8">
    <title>Login8</title>
</head>

    <body>
        <form method="post" action="'http://loccalhost:5000/validate">
            <table> 
                <tr> <td>Email</td> 
                <td> <input  type='email' name='Email'> 
                 </td>
                </tr>
                <tr> <td> Password</td>   <td><iuput type='password' name="password"> </td>
       
                </tr>
                <tr><td><inupt type="submit"  value="Submit"> 
        

                </td></tr>
                
                
            </table>
        </form>
    </body>
</html>